<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="block">
          <h1 class="block-title">KEIHUB</h1>
          <div class="block-body">
            <figure class="foot-logo">
              <img src="images/Logo-Light.png" class="img-responsive" alt="Logo">
            </figure>
            <p class="brand-description">
              KEIHUB adalah Portal Artikel yang berisi Artikel tentang Multimedia, Elektronika, dan Teknologi.
            </p>
            <a href="page.html" class="btn btn-magz white">Tentang Kami <i class="ion-ios-arrow-thin-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="block">
          <h1 class="block-title">Ikuti Kami</h1>
          <div class="block-body">
            <p>Ikuti kami di Sosial Media untuk mendapatkan Artikel terbaru dari kami secara gratis dan mudah.</p>
            <ul class="social trp">
              <li>
                <a href="#" class="youtube">
                  <svg><rect width="0" height="0"/></svg>
                  <i class="ion-social-youtube-outline"></i>
                </a>
              </li>
              <li>
                <a href="#" class="instagram">
                  <svg><rect width="0" height="0"/></svg>
                  <i class="ion-social-instagram-outline"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="line"></div>
        <div class="block">
          <div class="block-body no-margin">
            <ul class="footer-nav-horizontal">
              <!-- <li><a href="indexpage">Beranda</a></li> -->
              <!-- <li><a href="#">Tim Kami</a></li> -->
              <!-- <li><a href="contact.html">Kontak Kami</a></li> -->
              <!-- <li><a href="page.html">Tentang Kami</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          COPYRIGHT &copy; KEIHUB 2018. ALL RIGHT RESERVED.
        </div>
      </div>
    </div>
  </div>
</footer>
