<div class="firstbar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="brand">
          <a href="indexpage">
            <img src="images/logo-KEI.png" alt="KEIHUB Logo">
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <form class="search" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Cari Artikel disini">
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="ion-search"></i></button>
              </div>
            </div>
          </div>
          <!-- <div class="help-block">
            <div>Popular:</div>
            <ul>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">Bootstrap 3</a></li>
              <li><a href="#">jQuery</a></li>
              <li><a href="#">AnguarJS</a></li>
            </ul>
          </div> -->
        </form>
      </div>
      <div class="col-md-3 col-sm-12 text-right">
        <ul class="nav-icons">
          <!-- <li><a href="/register"><i class="ion-person-add"></i><div>Daftar</div></a></li> -->
          <li><a href="login"><i class="ion-person"></i><div>Masuk</div></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
