<nav class="menu">
  <div class="container">
    <div class="brand">
      <a href="#">
        <img src="images/logo.png" alt="KEIHUB Logo">
      </a>
    </div>
    <div class="mobile-toggle">
      <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
    </div>
    <div class="mobile-toggle">
      <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
    </div>
    <div id="menu-list">
      <ul class="nav-list">
        <li class="for-tablet nav-title"><a>Menu</a></li>
        <li class="for-tablet"><a href="/login">Masuk</a></li>
        <!-- <li class="for-tablet"><a href="register.html">Daftar</a></li> -->
        <li><a href="index">Beranda</a></li>
        <li class="dropdown magz-dropdown">
          <a href="#">Navigasi <i class="ion-ios-arrow-right"></i></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="index.html">Home</a></li> -->
            <li class="dropdown magz-dropdown">
              <li><a href="authentification">Autentikasi</a></li>
              <!-- <ul class="dropdown-menu">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot.html">Forgot Password</a></li>
                <li><a href="reset.html">Reset Password</a></li>
              </ul> -->
            </li>
            <li><a href="new_article">Buat Artikel</a></li>
            <li><a href="profile_view">Profil Saya</a></li>
            <!-- <li><a href="single.html">Single</a></li>
            <li><a href="page.html">Page</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown magz-dropdown">
              <a href="#">Error <i class="ion-ios-arrow-right"></i></a>
              <ul class="dropdown-menu">
                <li><a href="403.html">403</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="500.html">500</a></li>
                <li><a href="503.html">503</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        </li>
